    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 content-wrap">
                    <h1>
                        How’s your Team Feeling Today?
                    </h1>
                    <p class="pt-20 pb-20 mw-510">
                        Address your people’s concerns by letting them speak up frank and honest in a confidential environment without self imposed emotional censorship.
                    </p>
                    <a href="https://app.teammood.com/signup" class="genric-btn">
                        Find Out Now
                    </a>
                    <a href="https://calendly.com/teammoodapp/demo" class="genric-btn" target="_blank">
                        Book a Demo
                    </a>
                </div>
            </div>
        </div>
        <img class="hero-img" src="/img/hero/hero-img.png" alt="">
    </section>
    <!-- End hero-section -->
