
    <div class="nav-wrap d-flex flex-row align-items-center">
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li>
                <a href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li>
                <a href="/{{page.lang}}/features">Features</a>
            </li>
            <li>
                <a href="/{{page.lang}}/pricing">Pricing</a>
            </li>
            <li>
                <a href="/{{page.lang}}/about">About Us</a>
            </li>
            <li>
                <a href="https://app.teammood.com" target="_blank">Login</a>
            </li>
        </ul>
    </nav>
    <a class="genric-btn" href="https://app.teammood.com/signup">Get Started</a>
</div>
<!-- #nav-menu-container -->

