    <!-- Start stat-section -->
    <section class="stat-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Show that you care</h1>
                    <p>
                        {{ site.statistics_description }}
                    </p>
                </div>
            </div>

            <div class="row align-items-center">
                <div id="accordion" class="col-lg-6">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Measure Your Most Valuable Asset
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                You measure the performance of your IT, of your processes and your bu- siness opportunities. With TeamMood go further and measure the health of your most valuable asset: Your people.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accompany Change
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                As decision maker you oversee important changes to your organization. You make sure that people understand your vision and execute your strategy. With TeamMood’s direct and unfiltered feedback channel you can adjust your communication and ensure that teams adhere to your vision.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Encourage Constructive Criticism
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                A healthy company culture encourages people to share bad news. You are aware of that and want to foster a culture of free and open discussion around problems and their solutions. TeamMood is one building block that brings you closer to this objective.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Keep Your People
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                As team lead, you are often taken by surprise when someone leaves your company out of the blue. TeamMood’s continuous feedback lets you detect and anticipate people problems before it’s too late. Overall team satisfaction is improved, staff turnover is reduced.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="http://placekitten.com/1200/800">
                </div>
            </div>
        </div>
    </section>
    <!-- End stat-section -->
